.date-picker-container {
    // display: none;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    position: absolute;
    top:53px;
    left: 9px;
    z-index: 200;
    background: white;
    text-align: center; // height: 321px!important;
    width: 274px;
    @mixin dateline {
        // 第一行和第二行的公共样式
        height: 30px;
        width: 280px;
        font-size: 12px;
    }
    .today{
        background: orange;
        color: white;
        border: 1px solid orange;
        z-index: 200;
        cursor: pointer;
    }
    .day:hover{
        border: 1px solid orange;
        z-index: 201;
        cursor: pointer;
    }
    >.date-title {
        @include dateline;
        width: 296px;
        @mixin title-three {
            //左右箭头，年月
            height: 30px;
            line-height: 27px;
            width: 30px;
            float: left;
            text-align: center;
            border: 1px solid #cfcfcf;
            margin-top: -2px;
            margin-bottom: 1px;
            &:hover {
                cursor: pointer;
            }
        }
        >div {
            margin-right: -1px;
        }
        >div:first-child {
            @include title-three;
            font-size: 18px;
            &:hover {
                color: orange;
            }
        }
        >div:first-child+div {
            @include title-three;
            width: 216px;
        }
        >div:first-child+div+div {
            @include title-three;
            font-size: 18px;
            &:hover {
                color: orange;
            }
        }
    }
    >.weeks {
        @include dateline; // border: 1px solid #cfcfcf;
        >div {
            float: left; 
            width: 40px;
            height: 30px;
            line-height: 30px; // border-right: 1px solid #cfcfcf;
            border: 1px solid white;
            border-bottom: none;
            border-top: none;
            margin-top: -2px;
            margin-bottom: 1px;
            margin-right: -1px;
        }
        >div:first-child {
            border-left: 1px solid #cfcfcf;
        }
        >div:first-child+div+div+div+div+div+div {
            border-right: 1px solid #cfcfcf;
        }
    }
    >.days {
        clear: both;
        >div {
            position: relative;
            float: left;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #cfcfcf;
            margin-top: -2px;
            margin-bottom: 1px;
            margin-right: -1px;
        }
        .toDay {
            background: orange;
        }
        .dark {
            color: #cfcfcf;
        }
    }
}