body {
    background: #F7F7F7;
}
#header {
    width: 1211px;
    margin: 0 auto;
}
.header-background {
    background: white;
}
#header {
    /*高度，行高，背景，下边框*/
    height: 50px;
    line-height: 51px;
    border-bottom: 1px solid #eee;
    padding: 25px 0;
}
#header h2 {
    float: left;
    margin-left: 20px;
}
#header img {
    float: left;
}
