.hot-prod{
    float: left;
    height: 270px;
    width: 985px;
    
    
}
.Htitle{
    float:left;
    margin: 10px 20px;
}

// .imgList{
//     min-height: 80px;
//     // margin: 10px; 
//     // padding:5px;
// }

.imgList .infoBox dl dt{
    height: 182px;
    width: 172px;   
}

.imgList .infoBox dl{
    float: left;
}

.imgList ul li{
    float: left;
    margin-right: 20px;
}
.imgList ul{
    padding: 0 0 0 20px;
}