/*通用属性*/
body{
	font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
	color:#666;
	margin:0 auto;
	padding:0;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#ff0700;
	text-decoration:underline;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
img{
	vertical-align: bottom;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}





    // 整体布局

// 	#top-box,#top-main,#banner,#main,#footer{
// 		width:1200px;
// 		margin:0 auto;
//   }
//   #nav>ul{
// 	  margin:0 150px;
//   }