.lt {
    float: left;
}
.rt {
    float: right;
}
.font{
    position: relative;
}
h2 {
    margin-right: 10px;
}
i {
    font-style: normal;
}
.logo,.main-box,#banner,.footer,.header-box,.nav-box {
    width: 1200px;
    margin:0 auto;
}
#banner-box>#banner{
    width:1200px;
    margin:0 auto;
}
.header{
   
        width:100%;
        height:40px;
        background-color:#f5f5f5;
        font-size:12px;
        img{
            width:65px;
            height:22px;
            margin-top:10px;
            margin-right:10px;
        }
        p{
            line-height:40px;
            float:left;
            margin-right:30px;
        }
        a{
            float:left;
            line-height:40px;
           i{
               margin:0 10px;
           }
        }
        i{
            font-style:normal;
        }
        ul{
            margin-right:0px;
            li{
                float:left;
                margin-right:5px;
                line-height:40px;
            }
        }
    }

.logo{
    width:1200px;
    height:120px;
    position: relative;
    .shou {
        width: 65px;
        height: 65px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top:30px;
        
    }
    .vip{
        margin-top:30px;
    }
    h3 {
        margin-left: 80px;
        margin-top:30px;
        font-size:20px;
        font-weight: normal;
    }
    ul {
        position: absolute;
        top: 40px;
        left: 80px;
        margin-top:30px;
        font-size:14px;
        li {
            float: left;
        }
        i {
            margin: 0 5px;
        }
    }
    div{ 
 
        .wei{
            width:96px;
            height:96px;
            margin-right:10px;
        }
        
    }
}
.er{        
             width:400px;
            height:400px;
         background-color: #eeeeee;
          z-index: 1000;
          position: absolute;
         right:400px;
         
            img{
                height:200px;
                width:200px;
                margin:auto;
                margin-top:100px;
                background-color:black;
            }
        }
        .none{
            display:none;
        }
.nav {
    
    width:100%;
     border-bottom: 2px solid#eb6700;
    ul {
        height: 40px;
        li {
            float: left;
            width: 133px;
            height:40px;
            line-height:40px;
            text-align:center;
           
        }
    }
}
.nav>.nav-box>ul>li:hover{
    background-color:#eb6700;
    
}
.nav>.nav-box>ul>li:hover>a{
    color:white;
}
h1{ 
    float:left;
     margin:20px 0 30px 0px;
     i{
         position: absolute;
         display: block;
         width: 95px;
         height: 7px;
         background-color: #ffbe89;
         position: absolute;
         top: 23px;
      
         opacity: 0.5
     }
        }
.main{
    width:920px;
   
margin-top:20px;
  

}
.in {
    height: 300px;
    img {
        width: 300px;
        height: 250px;
        margin:0 30px 20px 0;
    }
    pre {
        width: 500px;
        font-size:16px;
        color:#333333;
    }
}
.one{
    width:300px;
    height:250px;
    background-color:black;
}
.two{
    p{
        font-size:16px;
        color:#333333;
    }
   img{ 
       width:920px;
     height:130px;
     background: #00FF00 url() no-repeat fixed top;
     margin-bottom: 20px;
}
}

.detailed{
    h1{
        margin-left:0px;
    }
    li{
        height:70px;
        line-height:70px;
        position: relative;
        border-bottom: 1px dotted #ccc;
        font-size:14px;
        color:#333333;
        p {
            float: left;
        }
        i {
            position: absolute;
            top: 0;
            left: 500px;
        }
    }
}
.four{
    width:920px;
    height:260px;
    background:black;
}
.right-box {
    overflow: hidden;
    width:250px;
    margin-left:30px;
   
h3{
    font-size:16px;
    font-weight: normal;
}
    ul{
        width:250px;
        overflow:hidden;
        .first{
            border:1px solid #ddd;
            box-sizing: border-box;
            position: relative;
            font-size:12px;
            h3 {
                margin: 20px 0 20px 20px;
            }
            h2 {
                font-size: 15px;
                margin: 0 0 20px 20px;
            }
            li {
                height: 20px;
                line-height: 20px;
                margin-left: 20px;
                i{
                    opacity:0;
                }
            }
            div{
             margin:40px 0;
                text-align:center;
            }
            
        }
    }
}
.a {
    display: block;
    width: 65px;
    height: 4px;
    background-color: #ffbe89;
    position: absolute;
    top: 34px;
    left: 20px;
    opacity: 0.5
}
.b {
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ffbe89;
    position: absolute;
    top: 14px;

    opacity: 0.5
}
.second {

    h3 {
        margin: 20px 0 20px 20px;
        position: relative;
    }
    li {
       
          
            dl{
                position: relative;
             
              dt{
                    img {
                        width: 230px;
                        height: 230px;
                        margin-top: 20px;
                        background-color: skyblue;
                        text-align: center;
                        margin-right: 10px;
                     }
           }
             dd{
                 width:230px;
                 background-color: black;
                 opacity: 0.5;
                 height:50px;
                 color:white;
                 font-size:14px;
                 text-align:center;
                 line-height:50px;
                 position: absolute;
                 bottom:1px;
                 
            }
        }
    }
}
.third {
    width: 250px;
    height: 410px;
    background-color: black;
    margin:20px 0;
}
.mianze {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ffebda;
    text-align: center;
    font-size: 14px;
    margin-left: 0;
    color:#eb6700;
}
.banner {
	float: left;
	width:1200px;
	height:400px;
	margin:15px 10px 20px -10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding-left: 20px;
}
.banner>span{
	margin-right: 100px;
}
.imgbox {
	width: 1200px;
	height: 400px;
	position: relative;
	background-color: #222222;
	overflow: hidden;
}
.img {
	position: absolute;
	display: none;
	left: 764px;
	top: -2px;
	margin-left: -770px;
}
.im {
	display: block;
}
.change {
	display: block;
	position: absolute;
	z-index: 20;
	// opacity: 0.4;
	// transition: 0.4s;
	top: 335px;
	margin-top: -50px
}
.pre:hover {
	background: url("../../../assets/img/photos/index/banner/left-pressed.png");
}

.next:hover {
	background: url("../../../assets/img/photos/index/banner/right-pressed.png");
}

.pre {
	right: 300px;
	top:402px;
}
.next {
	right: 250px;
	top:402px;
}
.cirbox {
	width: 310px;
	position: absolute;
	z-index: 10;
	margin-left: -44px;
	bottom: 20px;
	left: 385px;
	cursor: pointer;
}
.cir {
	width: 19px;
	height: 19px;
	background:url("../../../assets/img/photos/index/banner/unchoosed.png");
	// opacity: 0.5;
	border-radius: 50%;
	float: left;
	margin: 0 50px 0 5px;

}

.cir img{
	position: relative;
	top: 1px;
	left: 1px;
}

// .cir:hover {
// 	background-color: cyan;
// 	transition: 0.8s;
// }
.cr {
	background: url("../../../assets/img/photos/index/banner/choosed.png");
}
// .cr:hover {
// 	background-color: white;
// }

.fixed-line{
	position: relative;
	bottom: 40px;
	left: 220px;
}


.ad-icon{
	display: inline-block;
	text-align: center;
	background: #333;
	color: #fff;
	width: 34px;
	height: 18px;
	position: relative;
	top: 10px;
	
}