#top-nav {
  width: 100%;
  height: 140px;
  background: #f4f4f4;
  margin-bottom: 80px;
}

#top-nav > p {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.nav-select {
  width: 100%;
  background: #fff;
  height: 67px;
}

.nav-select span {
  font-size: 25px;
  margin-left: 20px;
  color: #333;
  line-height: 67px;
}

.nav-select p {
  display: block;
  font-size: 25px;
  margin-right: 30px;
  color: #666;
  float: right;
  line-height: 67px;
  width: 120px;
}

.nav-select p b {
  display: block;
  width: 44px;
  height: 44px;
  margin-left: 20px;
  background: url("../img/info/drawable-xhdpi/choose-right.png") no-repeat center left;
  position: absolute;
  margin-top: 11px;
  top: 0px;
  right: -8px;
}

.no-bottom {
  margin-bottom: 0px;
}

.section-title h4 {
  margin-top: 45px;
}

.section-title h4 + p {
  margin-bottom: 12px;
  margin-top: 45px;
}

/***************************************************************/
ul {
  list-style: none;
}

.header {
  background-color: #fff;
  border-bottom: solid 1px #ebebed;
  height: 80px;
  width: 100%;
  z-index: 12;
}

.header .deploy-contact {
  float: left;
  z-index: 999;
  background-image: url("../../assets/img/photos/login-register/logo.png");
  background-size: 144px 50px;
  background-repeat: no-repeat;
  /* background-position:12px 18px; */
  width: 144px;
  height: 50px;
  margin: 14px 30px;
}

.header .deploy-sidebar {
  float: right;
  z-index: 999;
  background-image: url("../img/index/drawable-xhdpi/navigation-classify.png");
  background-size: 60%;
  background-repeat: no-repeat;
  /* background-position:15px 19px; */
  width: 44px;
  height: 44px;
  display: block;
  margin: 27px 30px;
}

.header-box {
  position: absolute;
  width: 100%;
  height: 690px;
  background: #fff;
  z-index: 99;
}

.header-box ul li {
  float: left;
  margin: 50px 0 50px 90px;
  text-align: center;
  width: 130px;
  list-style: none;
}

.header-box ul li .text {
  margin-top: 20px;
  display: block;
  margin-left: -25px;
}

.container-head {
  margin: 30px 30px;
  font-size: 32px;
  line-height: 32px;
}

.container-head i {
  margin-top: 4px;
  width: 4px;
  height: 30px;
  background: #ff6600;
  margin-right: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #8e8e8e;
  padding: 0  30px;
}

footer div {
  display: inline-block;
  background: #ef7714;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border: 0;
  margin: 20px 50px;
  text-align: center;
}

footer div a {
  color: #fff;
  font-size: 26px;
}
