body {
  margin: 0px auto;
  width: 750px;
}

p, span, li, ul, a, hr {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, th {
  font-weight: normal;
  font-size: 12px;
}

.division {
  width: 100%;
  height: 10px;
  background: #f4f4f4;
  clear: both;
}

.header {
  background-color: #FFFFFF;
  display: block;
  width: 100%;
  height: 80px;
}

.deploy-contact {
  float: left;
  background-image: url("../img/photos/login-register/logo.png");
  background-repeat: no-repeat;
  width: 144px;
  height: 50px;
  margin: 15px 30px;
}

.deploy-sidebar {
  float: right;
  background-image: url("../img/index/drawable-xhdpi/navigation-classify.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  margin: 15px 20px;
}

.section {
  width: 750px;
  margin: 0 auto;
}

.section .section-top {
  padding: 20px 30px;
  font-size: 30px;
  border-bottom: 1px solid #f4f4f4;
}

.section .section-top > span {
  display: inline-block;
  border-left: 5px solid #ff6600;
  height: 22px;
  font-size: 30px;
}

.section .section-top > b {
  padding-left: 12px;
  display: inline-block;
}

.main {
  font-size: 28px;
  color: #333;
  margin-left: 20px;
  margin-top: 20px;
}

.main > li {
  margin-bottom: 10px;
  color: #666666;
  font-size: 28px;
}

.main > li > span {
  float: right;
  padding-right: 30px;
}

.section-table1 {
  border: 1px solid #888;
  margin: 20px auto;
}

.section-table1 th {
  background: #e4e4e4;
  font-size: 26px;
  width: 165px;
  padding: 15px 0;
  border: 1px solid #888;
}

.section-table1 td {
  width: 165px;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #888;
  padding: 20px 0;
  font-weight: 500;
  color: #666666;
}

.section-table2 {
  width: 680px;
  border: 1px solid #888;
  margin: 20px auto;
}

.section-table2 th {
  background: #e4e4e4;
  font-size: 26px;
  width: 165px;
  padding: 15px 0;
  border: 1px solid #888;
}

.section-table2 td {
  width: 165px;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #888;
  padding: 20px 0;
  font-weight: 500;
  color: #666666;
}

.section-ul {
  width: 690px;
  margin: 0 auto;
  font-size: 26px;
  color: #333;
}

.section-ul span {
  float: right;
}

.section-ul li {
  font-size: 28px;
  color: #8c8c8c;
}

#footer-four {
  height: 100px;
  line-height: 100px;
  position: absolute;
  top: 100%;
}

#footer-four a {
  text-align: center;
  font-size: 30px;
  float: left;
  width: 187.5px;
  background: #f9f9f9;
}


.footer-end {
  padding: 20px 30px;
  position: relative;
  margin-left: 20px;
  position: absolute;
  bottom: -200px;
}

.footer-end a {
  width: 220px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 28px;
}

.footer-end a > img {
  position: absolute;
  top: 40px;
  margin-right: 100px;
}

#icon-nav {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  border-bottom: 10px solid #f7f7f7;
  margin-bottom: 20px;
}

div.nav-height {
  height: 180px;
}

ul.icon-nav {
  margin: 0 auto;
  width: 710px;
}

ul.icon-nav > li {
  float: left;
  width: 140px;
  height: 135px;
  margin: 15px auto;
  /* // line-height:60px; */
}

ul.icon-nav > li > div {
  width: 70px;
  height: 70px;
  margin: auto;
  line-height: 60px;
}

ul.icon-nav > li > p {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  color: #666666;
}

li.active-icon > p {
  color: #ef7714;
  font-size: 24px;
}

.none {
  display: none;
}

.complain-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  top: 190px;
  background-color: rgba(0, 0, 0, 0.4);
}

nav p {
  font-size: 28px;
}

nav {
  padding: 0px 30px 20px 30px;
  position: relative;
}

nav .toushu {
  float: right;
  margin-top: 20px;
  border: 1px solid #ff6600;
  border-radius: 20px;
  color: #ff6600;
  display: block;
  width: 110px;
  text-align: center;
  line-height: 40px;
}

nav > h1 {
  font-size: 32px;
  margin-right: 70px;
  margin-bottom: 15px;
  color: #666666;
  position: absolute;
  left: 30px;
}

nav .gode {
  position: absolute;
  top: 0px;
  left: 500px;
}

nav span {
  position: absolute;
  left: 550px;
  top: 5px;
  color: #666666;
  font-size: 28px;
}

div.store-name {
  margin-top: 30px;
  border-bottom: 3px solid #f7f7f7;
}

div.store-name > img {
  width: 44px;
  height: 44px;
}

span.comp-name {
  font-size: 32px;
  color: #333;
  margin-left: 30px;
}

span.gold-de {
  font-size: 26px;
  color: #666;
  display: inline-block;
  margin-bottom: 5px;
}

div.store-name > img {
  margin-left: 30px;
}

div.store-name > div {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: #666;
}

div.store-name > div > span {
  color: #333;
}

div.com-plaints {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: #ea6700;
  font-size: 24px;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin-right: 30px;
}

.store-name .com-plaints {
  background-color: white;
  border: 1px solid #ea6700;
}

.store-name .com-plaints span {
  color: #ea6700;
}
