.none-scroll {
  height: 100%;
  overflow: hidden;
}

.none-scroll body {
  height: 100%;
  overflow: hidden;
}

.none {
  display: none;
}

.nav {
  background-color: #f4f4f4;
  width: 100%;
  height: 70px;
}

.nav p {
  width: 690px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px 30px;
}

.nav a {
  font-size: 26px;
  color: #333;
  text-decoration: none;
  font-style: normal;
  line-height: 70px;
}

.nav span {
  font-size: 26px;
  color: #fe6e0d;
  margin: 0 10px;
}

main {
  width: 750px;
  margin: 0 auto;
}

main > div {
  float: left;
}

main > div > b {
  font-size: 32px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  display: block;
}

main > div > div > button:first-child {
  font-size: 22px;
  float: left;
  margin: 0px 20px 30px 30px;
  width: 110px;
  height: 42px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#ED7515), to(#FB992F));
  background: -webkit-linear-gradient(left, #ED7515, #FB992F);
  background: -moz-linear-gradient(left, #ED7515, #FB992F);
  background: -o-linear-gradient(left, #ED7515, #FB992F);
  background: linear-gradient(left, #ED7515, #FB992F);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ED7515, endColorstr=#FB992F);
  background: -ms-linear-gradient(left, #ED7515, #FB992F);
  border-radius: 20px;
  border: 1px solid #ef7714;
  color: white;
}

main > div > div > button:first-child > a {
  font-size: 22px;
  color: white;
  height: 42px;
  line-height: 42px;
}

main > div > div > button:nth-child(2) {
  font-size: 22px;
  float: left;
  width: 110px;
  height: 40px;
  background: white;
  border-radius: 20px;
  border: 1px solid #ef7714;
  color: #ef7714;
}

main > div > div > div {
  float: right;
}

main > div > div > div > span {
  float: right;
  margin-top: 4px;
  color: #666;
}

main .main-bottom {
  float: left;
  width: 750px;
  height: 410px;
  border-top: 5px solid #f4f4f4;
  border-bottom: 5px solid #f4f4f4;
  margin-bottom: 30px;
}

main .main-bottom > div > img {
  float: left;
  margin: 40px 30px 40px 30px;
  width: 300px;
  height: 300px;
}

main .main-bottom > div.photo-right > ul {
  padding: 0;
  float: left;
}

main .main-bottom > div.photo-right > ul > li:first-child {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 18px;
}

main .main-bottom > div.photo-right > ul > li:not(first-child) {
  margin: 5px 0;
  font-size: 25px;
  color: #666;
}

main .main-bottom > div.photo-right > ul > a {
  display: inline-block;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 20px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#ED7515), to(#FB992F));
  background: -webkit-linear-gradient(left, #ED7515, #FB992F);
  background: -moz-linear-gradient(left, #ED7515, #FB992F);
  background: -o-linear-gradient(left, #ED7515, #FB992F);
  background: linear-gradient(left, #ED7515, #FB992F);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ED7515, endColorstr=#FB992F);
  background: -ms-linear-gradient(left, #ED7515, #FB992F);
  border: 1px solid;
  border-radius: 7px;
  margin-top: 10px;
  line-height: 40px;
}

main .main-bottom > div.photo-right > ul > a > img {
  margin-bottom: 5px;
}

section {
  border-bottom: 3px solid #f4f4f4;
  padding: 0 30px;
}

section > div > b.message {
  font-size: 30px;
  color: black;
  float: left;
  width: 100%;
  margin-bottom: 22.5px;
  padding-left: 15px;
  border-left: 5px solid #ef7714;
  height: 25px;
  line-height: 25px;
}

section > div > ul.canshu > li {
  float: left;
  font-size: 28px;
  margin: 7.5px 30px;
  margin-left: 0;
  margin-right: 60px;
}

section > div ul.details {
  padding-top: 20px;
}

section > div ul.details > li {
  color: #333;
  font-size: 28px;
  margin-bottom: 5px;
}

section #somethings {
  font-size: 28px;
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 40px;
}

section #section-bottom > p {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
  border-left: 5px solid #ef7714;
  height: 25px;
  line-height: 25px;
}

section #section-bottom > ul > li {
  color: #333;
  font-size: 28px;
  margin-bottom: 5px;
}

footer > div.ruyu {
  width: 750px;
  height: 140px;
  padding: 30px;
}

footer > div.ruyu > div.gantanhao {
  width: 80%;
  height: 120px;
  float: left;
}

footer > div.ruyu > div.gantanhao > p {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer > div.ruyu > div.gantanhao > p > img {
  float: left;
  margin-top: 7px;
}

footer > div.ruyu > div.gantanhao > p > span {
  font-size: 26px;
  color: #666;
  float: left;
  margin: 1px 1px 1px 5px;
}

#footer-bottom {
  width: 750px;
  height: 100px;
  float: left;
  background: #f4f4f4;
  margin-bottom: 80px;
  line-height: 100px;
}

#footer-bottom > li {
  width: 19%;
  height: 100%;
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  margin-left: 30px;
}

#button-btn {
  position: fixed;
  bottom: 0px;
  width: 750px;
}

#button-btn > button {
  width: 33.3333%;
  height: 80px;
  text-align: center;
  font-size: 24px;
  color: black;
  line-height: 60px;
  float: left;
  background: white;
  border: 0;
}

#button-btn > button > img {
  float: left;
  margin-top: 5px;
}

#button-btn > button > span {
  float: left;
  font-size: 30px;
}

button.tousu {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ED7515;
  background: white;
  color: #ef7714;
  font-size: 22px;
  margin-top: 10px;
}

#bg,
#bg1 {
  width: 750px;
  filter: alpha(Opacity=80);
  -moz-opacity: 0.5;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  bottom: 0;
}

#call-people {
  position: fixed;
  width: 600px;
  height: 400px;
  background: white;
  z-index: 9999;
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
}

#call-people > img {
  float: left;
  margin: 70px 10px 10px 70px;
}

#call-people > span {
  font-size: 44px;
  color: #ef7714;
  font-weight: bold;
  float: left;
  margin: 120px 0px 10px 15px;
}

#call-people > p {
  font-size: 26px;
  color: #999999;
  float: left;
  margin: 20px 0px 10px 100px;
}

#call-people > button:nth-child(4) {
  width: 250px;
  height: 70px;
  border-radius: 6px;
  background: #ef7714;
  color: #ffffff;
  font-size: 32px;
  border: 0;
  margin: 50px 40px 30px 40px;
  float: left;
}

#call-people > button:nth-child(5) {
  width: 250px;
  height: 70px;
  border-radius: 6px;
  background: #f4f4f4;
  color: #666666;
  font-size: 32px;
  border: 0;
  float: left;
  margin-top: 50px;
}

.disappear {
  display: none;
}

.show {
  display: block;
}

.none {
  display: none;
}

.complain-box {
  margin-top: 0px;
  position: absolute;
  z-index: 99999999;
}
