@charset "UTF-8";
p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: bottom;
}

a {
  color: #000;
  text-decoration: none;
}

.rg {
  float: right;
}

.lf {
  float: left;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}

.none {
  display: none;
}

.weizhi {
  position: relative;
}

.bd-right {
  border-right: none;
}

.header {
  background-color: #fff;
  border-bottom: solid 1px #ebebed;
  height: 80px;
  width: 100%;
  z-index: 12;
}

.header .deploy-contact {
  float: left;
  z-index: 999;
  background-image: url("../../assets/img/photos/login-register/logo.png");
  background-size: 144px 50px;
  background-repeat: no-repeat;
  /* background-position:12px 18px; */
  width: 144px;
  height: 50px;
  margin: 14px 30px;
}

.header .deploy-sidebar {
  float: right;
  z-index: 999;
  background-image: url("../img/index/drawable-xhdpi/navigation-classify.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-position:15px 19px; */
  width: 44px;
  height: 44px;
  display: block;
  margin: 22px 30px;
}

.header-box {
  position: absolute;
  width: 100%;
  height: 750px;
  background: #fff;
  z-index: 99;
}

.header-box ul li {
  float: left;
  margin: 50px 0 50px 90px;
  text-align: center;
  width: 130px;
}

.header-box ul li .text {
  margin-top: 20px;
  display: block;
  font-size: 26px;
}
.container-head {
  border-top: 5px solid #f4f4f4;
  padding: 30px 30px;
  font-size: 32px;
  line-height: 32px;
}

.container-head i {
  margin-top: 4px;
  width: 5px;
  height: 30px;
  background: #ff6600;
  margin-right: 20px;
}

.container-main {
  margin: 0 30px;
  position: relative;
  height: 850px;
}

.container-main .last {
  height: 120px;
}

.container-main li {
  width: 690px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ccc;
  font-size: 26px;
  border-radius: 6px;
  margin-bottom: 8px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-left:30px;
}

.container-main li .up {
  width: 0;
  height: 0;
  border-width: 0 13px 13px;
  border-style: solid;
  border-color: transparent transparent #333;
  /*透明 透明  灰*/
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 50;
}

.container-main li .down {
  width: 0;
  height: 0;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  /*灰 透明 透明 */
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 50;
}

.container-main li .shu {
  margin-top: 8px;
  width: 4px;
  height: 30px;
  background: #ff6600;
  float: left;
  margin-left: -26px;
}

.container-main li .none {
  display: none;
}

.container-main li .list-1 {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 6px;
  top: 58px;
  right: -2px;
  background: #fff;
  box-shadow: 2px 2px 2px 2px #ccc;
  z-index: 100;
}

.container-main li .list-1 .jie {
  width: 290px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
  border-radius: 0;
  padding-left: 26px;
  box-sizing: border-box;
}

.container-main li .list-1 .jie span {
  float: left;
  width: 90%;
}

.container-main li span {
  float: left;
  width: 170px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}

.container-main li input {
  font-size: 24px;
  position: relative;
  top: -2px;
  height: 55px;
  border-radius: 6px;
  width: 498px;
  border: none;
}

.container-main li a {
  float: right;
  width: 300px;
  padding-left: 50px;
  margin-top: 5px;
  box-sizing: border-box;
  position: relative;
}

.container-main li textarea {
  margin-top: 0px;
  width: 494px;
  height: 114px;
  border: none;
  border-radius: 6px;
}

.container-main .sub {
  width: 360px;
  height: 70px;
  margin: 50px 196px;
  font-size: 32px;
  color: #fff;
  border: none;
  border-radius: 6px;
  background: #ef7714;
}

.container-main .container-box {
  width: 250px;
  height: 100px;
  font-size: 32px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  top:-330px;
  left:250px;
  color: #ef7714;
  background: #fff;
  border: 1px solid  #ccc;
  border-radius: 6px;
  z-index: 100;
}

 .container-box-1 {
  width: 250px;
  height: 100px;
  font-size: 32px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  top:-330px;
  left:250px;
  color: #ef7714;
  background: #fff;
  border: 1px solid  #ccc;
  border-radius: 6px;
}
body{
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.footer {
  height: 80px;
  font-size: 32px;
  width: 750px;
  position: fixed;
  bottom: 0px;
  background: #fff;
}

.footer div {
  float: left;
  width: 249px;
  height: 80px;
  border-top: 1px solid #ccc;
  border-right: 1px  solid #ccc;
}

.footer div a {
  display: block;
  height: 50px;
  margin: 15px auto;
}

.footer div a:active {
  color: #f60;
}

.footer div b {
  float: left;
  width: 44px;
  height: 44px;
  margin: 5px 0 0 35px;
}

.footer div span {
  float: left;
  height: 44px;
  margin: 8px 0 0 5px;
}

.footer div .one {
  margin-left: 60px;
  background: url("../img/dianpu/jin.png");
}

.footer div .two {
  background: url("../img/dianpu/tel.png");
}

.footer div .three {
  background: url("../img/dianpu/QQ.png");
}

#bg {
  width: 750px;
  height: 2200px;
  filter: alpha(Opacity=80);
  -moz-opacity: 0.5;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
}

#call-people {
  position: fixed;
  width: 600px;
  height: 400px;
  background: white;
  z-index: 9999;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
}

#call-people>span {
  font-size: 44px;
  color: #ef7714;
  font-weight: bold;
  float: left;
  margin: 120px 0px 10px 15px;
}

#call-people > p {
  font-size: 26px;
  color: #999999;
  float: left;
  margin: 20px 0px 10px 100px;
}

#call-people>button:nth-child(4) {
  width: 250px;
  height: 70px;
  border-radius: 6px;
  background: #ef7714;
  color: #ffffff;
  font-size: 32px;
  border: 0;
  margin: 50px 40px 30px 40px;
  float: left;
}

#call-people>button:nth-child(5) {
  width: 250px;
  height: 70px;
  border-radius: 6px;
  background: #f4f4f4;
  color: #666666;
  font-size: 32px;
  border: 0;
  float: left;
  margin-top: 50px;
}
