
#outborder{
    width:1200px;
    // float: left;
    // position: relative;
    margin:0 auto; 
}
#card{
    margin-left:30px;
    margin-top:10px;
    height:50px;
    width:950px;
    background-color: white;
    float:left;
}
#card>b{
    border-bottom:4px solid #f99a2e;
    margin-top:8px;
    font-size: 16px;
    float:left;
}
#details{
    margin-left:30px;
    width:950px;
    height:2400px;
    float:left;
}
#attention{
    background-color: #f7f6f4;
    width:950px;
    height:100px;
}
#attention>p{
    font-size: 13px;
    padding:18px 0px 0px 20px;
    color: #f99a2e;
}
#idcard{
    width:950px;
    height:510px;
    border-bottom:1px solid silver;
}
#idcard>ul>li{
    height:50px;
}
#idcard>ul>li>input{
    width:420px;
    height:14px;
    line-height:1;
    padding: 11px 0px;
    float: left;
}
#idcard>ul>li>span{
    padding:15px 0px 0px 0px;
    color:black;
    font-size: 13px;
    display: inline-block;
}
#zuofu{
    float: left;
}
#card-information{
    padding: 20px 20px 0px 20px;
    color:black;
    float: left;
}
#positive{
    // border:1px solid black;
    width: 420px;
    height:240px;
    margin-left:80px;
    margin-top:10px;
}
#positive>img{
    margin-top:30px;
    margin-left:70px;
}
#photo-style1{
    margin-left:160px;
    width:450px;
    float: left;
}
#photo-style2{
    float: left;
}
#photo-style1>a>button{
    width:120px;
    height:30px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 20px;
    margin-right:20px;
}
#photo-style2>a>button{
    width:120px;
    height:30px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 20px;
    margin-right:20px;
}
#id-style>span{
    font-size:13px;
    color:black;
    margin: 10px 0px 10px 80px;
}

#hand{
    // border: 1px solid black;
    height:240px;
    width:420px;
    margin-left:530px;
    margin-top:-239px;
}
#business-licence{
    margin-top:10px;
    height:50px;
    width:950px;
    background-color: white;
    float:left;
}
#business-licence>b{
    border-bottom:4px solid #f99a2e;
    margin-top:8px;
    font-size: 16px;
    float:left;
}
#company{
    width:950px;
    height:885px;
    border-bottom: 1px solid silver;
}
#company>ul>li{
    width:950px;
    height:50px;
    float: left;
}
#company>ul>li>span{
    padding: 10px 0px 20px 0;
    color:black;
    font-size: 13px;
    width:100px;
    display: inline-block;
}
#company>ul>li>select{
    width:139px;
    height:35px;
    margin-top: 4px;
}
#company>ul>li>input{
    width: 420px;
    height:14px;
    line-height:1;
    padding: 11px 0px;
    float: left;
}
#yingyeqixian{
    display: inline-block;
    margin-left:-12px;
    margin-bottom:-14px;
}
.calendar-line{
    position: relative;
}
.calendar-input{
    position: relative;
    float: left;
    margin: 0px 9px;
    height: 35px !important;
    border: 1px solid silver;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 32px;
    width: 158px !important;
    background: url("../../../assets/img/photos/8-1/calendar1.png")no-repeat 170px center;
}
#licence{
    width:420px;
    height:240px;
    border: 1px solid silver;
    margin-left:100px;
    margin-top: 10px;
}
#licence>p{
    text-align: center;
    line-height: 240px;
}
#yingyezhizhao{
    width:420px;
    margin-left: 100px;
}
#yingyezhizhao>a>button{
    width:120px;
    height:30px;
    border:1px solid silver;
    background-color: white;
    margin: 20px 20px 0px 0px;
}
#logo{
    margin-top:10px;
    height:50px;
    width:950px;
    background-color: white;
    float:left;
}
#logo>b{
    border-bottom:4px solid #f99a2e;
    margin-top:8px;
    font-size: 16px;
    float:left;
}
#logo-photo{
    width:950px;
    height:700px;
}
#logo-photo>ul>li{
    width:950px;
    height:50px;
    float: left;
}
#logo-photo>ul>li>input{
    width:420px;
    height:14px;
    line-height:1;
    padding: 11px 0px;
    float: left;
}
#logo-photo>ul>li>span{
    padding:15px 0px 0px 0px;
    color:black;
    font-size: 13px;
    width:100px;
    display: inline-block;
}
#up-logo{
    width:420px;
    height:240px;
    // border: 1px solid silver;
    margin-left:100px;
    margin-top:-20px;
}
#up-logo>p{
    color: black;
    font-size: 13px;
    text-align: center;
    line-height: 200px;
}
#logo-style{
    width:420px;
    margin-left: 100px;
}
#logo-style>a>button{
    width:120px;
    height:30px;
    border:1px solid silver;
    background-color: white;
    margin: 20px 20px 0px 4px;
}
#introduction{
    margin-top:-50px;
    height:0px;
    z-index: 0;
}
#introduction>span{
    color:black;
    font-size: 13px;
    width:100px;
    display: inline-block;
    margin-left:px;
}
#photoEdit>div{
    border:1px solid gray;
    background-color: white;
    width:960px;
    height:250px;
    margin: 20px 100px 0px 0px;
    float: left;
    >p{
        font-size:16px;
        color:silver;
        margin:10px;
    }
}
#change-message-submit{
    width:200px;
    height:50px;
    margin-top:30px;
    border:0px;
    background-color: #eb6700;
    color: white;
    font-size:18px;
    float: left;
}


#alert-success{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    background:rgba(0, 0, 0,0.5);
    >div{
        position: absolute;
        float: left;
        left: 0;
        right: 0;
        top: 250px;
        margin: 0 auto;
        display: inline-block;
        width: 350px;
        height: 210px;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 0px 30px 3px black;
        background: #fff;
        z-index: 10;
        >p{
            display: block;
            font-size: 18px;
            margin-top: 0px;
            font-weight: bold;
        }
        >div{
            width: 348px;
            height: 100px;
        }
        >div.right{
            background: url("../../../assets/img/photos/8-1/rightPrompt1.png") no-repeat center 20px;
            margin-top:30px;
        }
        >div.erro{
            background: url("../../../assets/img/photos/8-1/errorPrompt.png") no-repeat center 20px;
            margin-top:30px;
        }
    }
}
#alert-success.no{
    visibility: hidden;
}
#alert-success.show{
    display: inline-block;
}
.center{
    margin:auto
}




#fileList,#fileList2,#fileList3,#fileList4{
    width:420px;
    height:240px;
    border:1px solid silver;
}
.webupload-delete{
    font-size:15px;
    border:1px solid silver;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 120px;
    margin-top: -32px;
}
.filePicker,.webupload-update{
    width:100px;
    height:30px;
    border:1px solid silver;
    text-align:center;
    color:silver;
    margin-top:10px;
}
