#footer-all{
    width: 100%;
    background: #f7f6f4;
    overflow: hidden;
}
#footer-main{
    margin: 0 auto;
    width: 1200px;
    height: 200px;
   }
#footer-main>span{
    margin-top: 40px;
    display: inline-block;
    color: black;
}
#footer-main-nav{
    margin-top: 40px;
    float: right;
    
}
#footer-main-nav>ul{
    display:flex;
    text-align: center;
}
#footer-main-nav>ul>li{
    float:left;
    width: 80px;
}
#footer-main-nav>ul>li a{
      color: #333;
      font-size: 12px;
}
#footer-main-nav>ul>li b{
    border-left: 1px solid #333;
    margin-right: 13px;
}
#footer-main-num{
    text-align: center;
    margin-bottom: 0;
    >ul{
        margin-top:30px;
        display: inline-block; 
        >li{
            float: left;
            margin-right: 30px;
            font-size: 12px;
            color: #111;
            >span{
                width: 60px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                background: #f99b2d;
                display: inline-block;
                color: #fff;
                border-radius: 3px;
            }
        }
    }
}
#footer-main>p{
    color: #111;
    font-size: 12px;
    text-align: center;
    // margin :0 0 30px 0px;
    width: 100%;
}

.footer-main1{
    width:1000px;
    margin:0 auto;
    span{
       display: inline-block;
       margin-top:30px;
       font-size:12px;
       color:#333;
      }
    ul{
        width:93%;
        float:right;
        margin-top:30px;
        li{
            float:left;
            a{
                display: inline-block;
                color:#333;
                font-size: 12px;
                border-right:1px solid #aaaaaa;
                padding:0 5px;
            }
         }
        .website{
            a{
            border:none;
            display:inline-block;
             }
        }
      }
}

#b-cut-line{
    border-bottom: 1px solid #aaaaaa;
    position: relative;
    top:15px;
}